html, body, #root, .App, #canvas-container {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#canvas-container {
  flex-grow: 1;
}

#sidebar {
  flex: 0 0 auto;
  width: 200px;
  padding: 20px;
  background-color: #000;
  color: #fff;
}

.details {
  text-align: left;
  padding: 10px;
  border: 1px solid #fff;
  margin-bottom: 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
